:root{
    color-scheme: light;
    --black: #000000;
    --gray: #878787;
    --white: #FFFFFF;

    --blue: #303A87;
    --turquoise: #486987;
    
    --tan: #847767;
    --orange: #846357;

    --small-img: 40%;
    --one-third: 33.33%;
    --small-distance: 10px;
    --big-distance: 30px;
}

body{
    color: var(--gray);
    font-family: "Prompt", sans-serif;
    text-align: center;
    margin: 0px;
}

h1{
    font-size: 70px;
}
a{
    color: var(--blue);
    font-weight: bold;
}
p{
    margin: var(--small-distance);
}
.topimage{
    width: 100%;
    overflow: hidden;

    position: fixed;
    left: 0%;
    top: 0%;
}


summary{
    border: 2px solid;
    border-color: var(--white);
}

.dropdown{
    width: 90%;
    border: 2px solid;
    border-color: var(--white);
}

.repoboard{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

    text-align: center;
}

.repo{
    width: var(--one-third);
    background-color: var(--gray);
    border-radius: var(--small-distance);
    color: var(--white);
    padding: var(--small-distance);
    margin: var(--small-distance);

    transition-duration: 0.5s;
}
.repo:hover{
    background-color: var(--tan);
    border-radius: var(--big-distance);
}

.repoimgcard{
    width: var(--small-img);
    height: var(--small-img);
    margin: var(--small-distance);
    border-radius: var(--small-distance);
}

footer{
    background-color: var(--gray);
}
