:root{
    --dark_mode : rgb(40, 40, 40);
    --border : rgb(101, 126, 176);
    --link : rgb(118, 118, 239);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-color: var(--dark_mode);
    color: white;
}
div{
    padding: 20px;
    border: 1px solid var(--border);
}

a{
    color: var(--link);
}
img{
    border-radius: 50px;
}

nav{
    position: sticky;
    background-color: var(--dark_mode);
}
.links{
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.navig{
    vertical-align: middle;
    border: 1px solid var(--border);
    border-radius: 0px;
    padding: 10px;
}